.main {
  padding: 20px;
  position: relative;
}
.line {
  border: 1px solid #eeeeee;
  height: calc(100dvh - 42px);
  width: 0px;
  position: fixed;
  left: 100px;
  z-index: 0;
}

.list-item {
  display: flex;
  flex-direction: row;
  width: 100%;
}
.list-item + .list-item {
  margin-top: 20px;
}
.days {
  height: 40px;
  min-width: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  color: #c7c7c7;
  margin-top: 10px;
  font-family: monospace;
}
i {
  min-width: 40px;
  height: 40px;
  background: white;
  color: #c7c7c7;
  border-radius: 50%;
  border: 2px solid #eeeeee;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 26px;
  z-index: 1;
  margin-top: 10px;
}
.content-container {
  font-family: sans-serif;
  background: #eeeeee;
  border-radius: 5px;
  min-height: fit-content;
  padding: 10px;
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  min-width: calc(100% - 150px);
  max-width: calc(100% - 150px);
}
textarea {
  min-height: 20px;
  height: 20px;
  min-width: calc(100% - 14px);
  max-width: calc(100% - 14px);
  border: 2px solid #c7c7c7;
  border-radius: 3px;
  font-family: sans-serif;
  padding: 5px;
}
textarea:active, textarea:focus {
  outline: none;
  border-color: #3ed0aa;
  border-width: 3px;
  min-width: calc(100% - 16px);
  max-width: calc(100% - 16px);
  min-height: 18px;
  height: 18px;
}



h3 {
  margin-top: 0px;
  margin-bottom: 5px;
}
h3 span {
  color: rgb(0 209 255);
}
p {
  margin: 0px;
}

.selectors {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.types-group {
  max-width: fit-content;
  display: flex;
  flex-direction: row;
}
.selectors i {
  margin: 0px;
  min-width: 30px;
  height: 30px;
  font-size: 16px;
  cursor: pointer;
}
.selectors i + i{
  margin: 0px;
  margin-left: 5px;
}
.active {
 color:white;
 background: rgb(0 209 255);
 cursor: not-allowed !important;
}
.submit {
  background-color: #3ed0aa;
  border-radius: 2px;
  height: 20px;
  padding: 5px 20px;
  color: white;
  display: flex;
  align-items: center;
  cursor: pointer;
}