<div class="main">
  <div class="line"></div>

  <div class="list-item">
    <div class="days"></div>
    <i class="ri-list-check"></i>
    
    <div class="content-container">
      <textarea name="note" id="note" [placeholder]="'Add a note about ' + user + '...'"></textarea>
    </div>
  </div>
  <div class="list-item">
    <div class="days">45d</div>
    <i class="ri-chat-1-fill"></i>
    
    <div class="content-container">
      <h3><span>You</span> had a meating with <span>{{user}}</span></h3>
      <p>Add more info there</p>
    </div>
  </div>
  <div class="list-item">
    <div class="days">45d</div>
    <i class="ri-phone-fill"></i>
    
    <div class="content-container"></div>
  </div>
  <div class="list-item">
    <div class="days">45d</div>
    <i class="ri-cup-fill"></i>
    
    <div class="content-container"></div>
  </div>
  <div class="list-item">
    <div class="days">45d</div>
    <i class="ri-beer-fill"></i>
    
    <div class="content-container"></div>
  </div>
  <div class="list-item">
    <div class="days">45d</div>
    <i class="ri-user-fill"></i>
    
    <div class="content-container"></div>
  </div>
</div>