<div class="main">
  <div class="line"></div>

  <div class="list-item">
    <div class="days"></div>
    <i class="ri-list-check"></i>
    
    <div class="content-container">
      <textarea [(ngModel)]="note" name="note" id="note" [placeholder]="'Add a note about ' + user + '...'"></textarea>
      <div class="selectors" *ngIf="note">
        <div class="types-group">
          <ng-container *ngFor="let item of types">
            <i [class]="item.class" [class.active]="item.type === selectedType" (click)="handleClick(item.type)"></i>
          </ng-container>
        </div>
        <div class="submit">Submit</div>
      </div>
    </div>
  </div>

  <div class="list-item">
    <div class="days">45d</div>
    <i class="ri-chat-1-fill"></i>
    
    <div class="content-container">
      <h3><span>You</span> had a meating with <span>{{user}}</span></h3>
      <p>Add more info there</p>
    </div>
  </div>

</div>