<div class="main">
  <div class="header"><span><a href="/home">Home</a></span> | <span><a href="test2#section1">Sobre</a></span> | <span><a href="test2#section2">Cadastro</a> </span>| <span>Login</span></div>
  
  <section class="section1" id="section1">
    <div class="inner-container">
      <div>
        <h1>CIÊNCIAS HUMANAS</h1>
        <div class="button">Começar</div>
      </div>
      <img src="img1.png" alt="">
    </div>
  </section>
  <div class="inner-container description-container">
    <p class="description">Prova com 10 questões gerais sobre a matéria de ciências humanas.</p>
    <p class="description">O que são as Ciências Humanas?</p>
    <p class="description">A área das Ciências Humanas é o conjunto de ciências que tem como objeto de estudo o ser humano. Entre as ciências da área de humanas, estão a Filosofia, Sociologia ou Ciências Sociais, História, Geografia, Letras, Teologia, Antropologia, Comunicação Social, Psicologia, Linguística, Artes, entre outras.</p>
  </div>
  <section class="section2" id="section2">
    <div class="inner-container">
      <h3>Cadastro</h3>
      <input type="text" name="name" placeholder="name">
      <input type="email" name="email" placeholder="email">
      <input type="text" name="senha" placeholder="senha">

      <p>já tem uma conta?</p>
      <div class="button">Concluir</div>
    </div>
  </section>


  <div class="footer">
    <span>© Vinícius Neves Costa</span>
  </div>
</div>